database = {
    'dbname': '',
    'user': '',
    'password': '',
    'host': '',
    'port': ''
}

DATABASE_URL=postgresql://{database['user']}:{database['password']}@{database['host']}:{database['port']}/{database['dbaname']}